<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="/javascripts/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="/javascripts/bootstrap.min.js" type="text/javascript"></script>
    <title>Title</title>
    <style type="text/css">
        .cart-heading {
            height: 40px;
            background-color: #EFEDED;
        }

        .cart-body {
            background-color: #F7F7F7;
        }

        .cart-body ul li {
            list-style-type: none;
            margin-left: -30px;
            width: 870px;
        }

        .cart-body ul li div {
            float: left;
            height: 80px;
        }

        .li-checkbox input {
            margin: 20px 5px 0 0;
        }

        .li-content {
            margin: 20px 0 0 30px;
            width: 280px;
        }

        .li-price {
            margin: 20px 0 0 60px;
            width: 100px;
        }

        .li-quantity {
            margin: 20px 0 0 130px;
            width: 100px;
        }

        .li-del {
            margin: 20px 0 0 30px;
            width: 50px;
        }
    </style>
    <script type="text/javascript">
        function addTextBook() {
            var data = $("#addbook").serialize();

            //$.post("接口位置","数据","回掉方法")
            $.post('/addtextbook', data, function (reData) {
                if (reData && reData.status) {
                    //刷新
                    location.reload();
                    $('#myModal').modal('hide')
                } else {
                    //弹出一个警告框
                    alert(reData.msg);
                }
            });
        }
    </script>
</head>
<body>
<div style="margin:50px auto;width: 900px;">
    <div>
        <div>
            <div style="float:right;">

                <button type="button" class="btn  btn-xs btn-success" data-toggle="modal" data-target="#myModal">
                    添加教材
                </button>
            </div>
            <h2>教材信息管理</h2>
            <hr>
        </div>
        <div>
            <div class="cart-heading">
                <div style="padding: 10px 0 0 10px">
                    <span style="margin-right: 100px;">教材编号</span>
                    <span style="margin-right: 150px;">教材名称</span>
                    <span style="margin-right: 50px;">价格</span>
                    <span style="margin-right: 150px;">出版社</span>
                    <span style="padding-right: 0px;">供应商</span>
                </div>
            </div>
            <div class="cart-body">
                <ul>
                    <%for(var i in book){%>
                    <li>
                        <div class="li-content">
                            <a><%=book[i].bookId%></a>
                        </div>
                        <div class="li-content">
                            <a><%=book[i].name%></a>
                        </div>
                        <div class="li-content">
                            <span><%=book[i].price%></span>
                        </div>
                        <div class="li-content">
                            <a><%=book[i].press%></a>
                        </div>
                        <div class="li-content">
                            <a><%=book[i].supplier%></a>
                        </div>
                    </li>
                    <%}%>
                </ul>
                <div style="float: right;height: 35px;width:330px;">
                    <input type="button" style="width: 130px;float:right;" class="btn btn-success"
                           onclick=" Clearing();" value="查询"/>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 添加教材弹出框 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">添加教材</h4>
            </div>
            <div class="modal-body">
                <form id="addbook" action="#" role="form" method="post">
                    <table border="0">
                        <tr>
                            <td>教材编号</td>
                            <td><input style="margin: 10px;" type="text" class="form-control" name="bookid"/>
                            </td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;教材名称</td>
                            <td><input style="margin: 10px;" type="text" class="form-control" name="cname"/>
                            </td>
                        </tr>
                        <tr>
                            <td>出版社</td>
                            <td><input style="margin: 10px;" class="form-control" name="cprice"/></td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;价格</td>
                            <td><input style="margin: 10px;" class="form-control" name="cprice"/></td>
                        </tr>
                        <tr>
                            <td>供应商</td>
                            <td><input style="margin: 10px;" class="form-control" name="cprice"/></td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="addTextBook()">添 加</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>