<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/stylesheets/usermanager.css" rel="stylesheet" media="screen">
    <script src="/javascripts/jquery-2.1.1.min.js" type="text/javascript"></script>
    <script src="/javascripts/bootstrap.min.js" type="text/javascript"></script>
    <title>Title</title>
    <script type="text/javascript">
        function addUserManager() {
            var data = $("#addusermanager").serialize();

            //$.post("接口位置","数据","回掉方法")
            $.post('/usermanager/add', data, function (reData) {
                if (reData && reData.status) {
                    //刷新
                    location.reload();
                    $('#addModal').modal('hide')
                } else {
                    //弹出一个警告框
                    alert(reData.msg);
                }
            });
        }
        //查询数据,并显示更新框
        function showUpdate(name) {
            $.post('/usermanager/select', {_id: name}, function (reData) {
                if (reData && reData.status) {
                    //给弹出框各个输入框赋值
                    $('#uName').val(reData.data.name)
                    $('#uPassword').val(reData.data.password)
                    $('#uId').val(reData.data._id);

                    //显示弹出框
                    $('#updateModal').modal('show');
                } else {
                    //弹出一个警告框
                    alert(reData.msg);
                }
            });
        }
        //更新数据
        function updateUserManager() {
            var data = $("#updateusermanager").serialize();

            //$.post("接口位置","数据","回掉方法")
            $.post('/usermanager/update', data, function (reData) {
                if (reData && reData.status) {
                    $('#updateModal').modal('hide')
                    //刷新
                    location.reload();
                } else {
                    //弹出一个警告框
                    alert(reData.msg);
                }
            });
        }
    </script>
    </head>
<body>
<div style="margin:50px auto;width: 900px;">
    <div>
        <div>
            <h2>管理员信息管理</h2>
        </div>
        <div>
            <table border="0" class="table table-striped">
                <tr>
                    <th class="usertable-name">用户名</th>
                    <th class="usertable-password">密码</th>
                    <th class="usertable-operate">操作</th>
                </tr>
                <%for(var i in user){%>
                <tr>
                    <td class="usertable-name"><%=user[i].name%></td>
                    <td class="usertable-password"><%=user[i].password%></td>
                    <td class="usertable-operate">
                        <button class="btn btn-primary btn-xs" onclick="showUpdate('<%=user[i]._id%>')">修改</button>
                        <a href="/usermanager/delete/<%=user[i]._id%>" class="btn btn-primary btn-xs">删除</a>
                    </td>
                </tr>
                <%}%>
            </table>
        </div>
    </div>
</div>
<!-- 更新教材弹出框 -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel">
    <div class="modal-dialog" role="document" style="width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="updateModalLabel">添加管理员</h4>
            </div>
            <div class="modal-body">
                <form id="updatebook" action="#" role="form" method="post">
                    <table border="0">
                        <tr>
                            <td>教材编号</td>
                            <td>
                                <input id="uBookId" style="margin: 10px;" type="text" class="form-control"
                                       name="bookId" value=""/>
                            </td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;教材名称</td>
                            <td>
                                <input id="uName" style="margin: 10px;" type="text" class="form-control" name="name"/>
                            </td>
                        </tr>
                        <tr>
                            <td>出版社</td>
                            <td>
                                <input id="uPress" style="margin: 10px;" class="form-control" name="press"/>
                            </td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;价格</td>
                            <td>
                                <input id="uPrice" style="margin: 10px;" class="form-control" name="price"/>
                            </td>
                        </tr>
                        <tr>
                            <td>供应商</td>
                            <td>
                                <input id="uSupplier" style="margin: 10px;" class="form-control" name="supplier"/>
                            </td>
                            <td></td>
                            <td>
                                <!--注意。很关键。一个宽度为0px的看不到的input。用来存储_id字段的值-->
                                <input id="uId" style="width: 0px;" name="_id"/>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="updateTextBook()">保 存</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>